<ion-header [translucent]="true" mode="md">
  	<app-navbar></app-navbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div id="container">
		<div class="about-container">
			<video id="video-undergo" controls>
				<source src="{{ video }}" type="video/mp4">
			</video>
			<!-- <h1 class="title">{{ title }}</h1> -->
			<p class="description">{{ description }}</p>
			<p class="description" [innerHTML]="description_2"></p>
			<p class="description" [innerHTML]="description_3"></p>
			<p class="description" [innerHTML]="description_4"></p>
			<span class="button-container">
				<a class="btn btn-primary" routerLink="/coming-soon">
					<p>experience</p> <span class="circle"><i class="arrow"></i></span>
				</a>
			</span>
			<h2 class="headline">{{ headline_1}}</h2>
			<p class="description">{{description_5}}</p>
			<video id="video-undergo-campaign" controls [poster]="videoC_poster">
				<source src="{{ videoC }}" type="video/mp4">
			</video>
			<h2 class="headline">{{ headline_2}}</h2>
			<div class="testimony">
				<span class="participant" *ngFor="let testimony of testimonies; index as i">
					<span class="image-container">
						<img class="bg-image" src="{{testimony.bg_image}}" alt="background">
						<span class="photo photo-{{i+1}}" [ngStyle]="{'background-image': 'url(' + testimony.photo_url + ')'}"></span>
					</span>
					<span class="text-container">
						<h3 class="testimony-name">{{ testimony.name }}</h3>
						<h4 class="testimony-from" [innerHTML]="testimony.from"></h4>
						<p class="testimony-text">{{ testimony.testimony_text }}</p>
					</span>
				</span>
			</div>
		</div>
		<app-footer></app-footer>
	</div>
</ion-content>
