.sessions-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 90vw;
		border-radius: 2.5rem;
		margin-top: 4rem;
		background-image: linear-gradient(30deg, rgba(173, 240, 240, .35), rgba(81,143, 232, .3), rgba(35,32,249, .25), rgba(253,98,154, .2), rgba(255,86,164, .15), rgba(135, 28, 255, .1), rgba(155, 252, 235, .05), rgba(153, 221, 169, .05));
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-color: rgba(0, 0, 0, 0.5);
		background-blend-mode: lighten;

		img {
			border-radius: 2.5rem;
		}
	}
}
