<div class="navbar-container">
	<span class="navbar">
		<div class="section-title">
			<a class="link-home" routerLink="/undergo"><img class="undergo-logo" src="{{ logo_undergo_url }}" alt="undergo-logo"></a>
			<span class="title">
				<p class="undergo-title">UNDERGO</p>
				<p class="undergo-sub-title">For Community College</p>
			</span>
			<div class="hamburger-icon" id="icon" (click)="toggleMenu()">
				<div class="icon-1" id="a"></div>
				<div class="icon-2" id="b"></div>
				<div class="icon-3" id="c"></div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="section-menu">
			<div id="nav">
				<ul class="menu">
					<li><a class="nav-list" routerLink="/undergo/about">About</a></li>
					<li><a class="nav-list" routerLink="/undergo/experience">Experience</a></li>
					<li><a class="nav-list" routerLink="/under-construction">Book A Ticket</a></li>
					<li><a class="nav-list" routerLink="/undergo/faq">Faq</a></li>
					<li><img class="icon-airplane" [src]="icon_airplane_url" alt="airplane icon"></li>
				</ul>
			</div>
		</div>
	</span>
</div>
