ion-header {
	--background: rgb(0, 0, 0);
	border-bottom: 2px solid #000000;
}

.undergo-container {
	width: 100%;
	height: 100%;

	.section-1 {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: column;
		width: 100%;
		padding-top: 8em;

		.image-bg {
			position: absolute;
			width: 100%;
			height: 100%;

			.img {
				position: absolute;
				width: 100%;
				height: 100%;
			}

			.img-2 {
				position: absolute;
				width: 100%;
				height: 60%;
			}

			.background {
				z-index: 1;
				background-image: url('../../assets/images/background-page1.webp');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: bottom;
			}

			.effect {
				z-index: 3;
				height: 100%;
				background-image: url('../../assets/efferct-page1.svg');
				background-repeat: no-repeat;
				background-size: cover;
			}

			.gif-animation {
				z-index: 4;
				right: 0;
				top: 40%;
				background-image: url('../../assets/images/airplane-animation.gif');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: right;
			}
		}

		.date-text, .place-text, .button-container {
			z-index: 10;
		}

		.date-text {
			color: #000000;
			font-family: "FuturaPT";
			font-weight: 800;
			font-size: 7.3125rem;
			line-height: 6.125rem;
			letter-spacing: 0.174em;
			text-transform: uppercase;
			text-align: center;
			margin: 0rem 0;
		}

		.place-text {
			color: #000000;
			font-family: "FuturaPT";
			font-weight: bold;
			font-size: 2.9rem;
			text-transform: uppercase;
			text-align: center;
			margin: 0rem 0;
			margin-bottom: 2rem;
			line-height: 1.13817437em;
			letter-spacing: 0.083em;
		}

		.button-container {
			display: flex;
			position: relative;
			margin-top: 1rem;
			.btn {
				width: 604px;
				height: 172px;
				border-radius: 86px;
				background-image: url('../../assets/button-shape.svg');
				background-size: cover;
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				text-decoration: none;
				position: relative;

				.circle-arrow {
					background-image: url('../../assets/circle-arrow.svg');
					background-size: cover;
					position: relative;
					right: 0;
					width: 104px;
					height: 105px;
					margin-bottom: 1.5rem;
				}
			 }

			.btn-primary p {
				font-size: 3.3rem;
				font-weight: 800;
				color: #000;
				text-transform: uppercase;
				text-align: left;
				padding-bottom: 1.5rem;
				font-family: 'FuturaPT';
				line-height: 0.87em;
				letter-spacing: -0.041em;
				padding-left: 1rem;
			}
		}

		@media screen and (max-width: 1400px) {
			.image-bg {
				.background {
					background-size: 150%;
				}

				.gif-animation {
					top: 60%;
					height: 40%;
				}
			}
		}

		@media screen and (max-width:1050px) {
			.image-bg {
				.background {
					background-size: 175%;
				}

				.gif-animation {
					top: 60%;
					height: 40%;
				}
			}

			.date-text {
				font-size: 5rem;
			}
		}

		@media screen and (max-width: 768px) {
			.image-bg {
				.background {
					background-size: 210%;
				}
				.effect {
					height: 100%;
				}
			}
			.date-text {
				font-size: 53.5px;
				line-height: 3.5rem;
			}

			.place-text {
				font-size: 32px;
			}
			.button-container {
				.btn {
					scale: .6;
				}
			}
		}

		@media screen and (max-width: 600px) {
			.image-bg {
				.background {
					background-size: 290%;
				}
			}

			.date-text {
				font-size: 2.25rem;
				line-height: 2.25rem;
			}

			.place-text {
				font-size: 1.5rem;
				margin-bottom: 0;
			}
		}

		@media screen and (max-width: 400px) {
			.image-bg {
				.background {
					background-size: 330%;
				}
			}


			.button-container {
				.btn {
					scale: .5;
				}
			}
		}
	}

	.section-2 {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.section-text {
			font-family: 'FuturaPT';
			font-weight: 800;
			font-size: 6rem;
			margin-top: 6rem;
			line-height: 0.87em;
			letter-spacing: 0.083em;
			text-transform: uppercase;
			text-shadow: 0.06629126em 0.06629126em 0em rgba(0, 0, 0, 0.400000);
		}

		.line-up {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(4, minmax(280px, 1fr));
			grid-template-rows: repeat(2, minmax(330px, 1fr));
			gap: 1.5rem 0;
			justify-content: center;
			align-items: center;
			padding: 2rem 10rem;

			.speaker {
				justify-self: center;
				align-self: center;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				width: 280px;
				height: 330px;
				.speaker-img {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					width: 100%;
					.shape-1::before, .shape-2::before, .shape-3::before, .shape-4::before,
					.shape-5::before, .shape-6::before, .shape-7::before, .shape-8::before {
						content: url('../../assets/shape-line-up.svg');
						width: 270px;
						height: 270px;
						position: absolute;
						z-index: 0;
					}

					.shape-1, .shape-2, .shape-3, .shape-4, .shape-5, .shape-6, .shape-7, .shape-8{
						width: 270px;
						height: 270px;
					}

					.shape-1::after {
						content: '';
						background-image:  url('../../assets/images/ps-jefri-thresna.webp');
						background-position: 100% 65%;
						background-size: 220%;
						border-radius: 50%;
						background-repeat: no-repeat;
						width: 218px;
						height: 218px;
						position: absolute;
						z-index: 1;
						transform: translate(12%,12%);
					}

					.shape-2::after {
						content: '';
						background-image:  url('../../assets/images/ps-winston-y.webp');
						background-position: 100% 97%;
						background-repeat: no-repeat;
						background-size: cover;
						border-radius: 50%;
						width: 218px;
						height: 218px;
						position: absolute;
						z-index: 1;
						transform: translate(12%,12%);
					}

					.shape-3::after {
						content: '';
						background-image:  url('../../assets/images/ps-jansen-bs.webp');
						background-position: 100% 90%;
						background-repeat: no-repeat;
						background-size: cover;
						border-radius: 50%;
						width: 218px;
						height: 218px;
						position: absolute;
						z-index: 1;
						transform: translate(12%,12%);
					}

					.shape-4::after {
						content: '';
						background-image:  url('../../assets/images/the-youth-pastors.webp');
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
						border-radius: 50%;
						width: 218px;
						height: 218px;
						position: absolute;
						z-index: 1;
						transform: translate(12%,12%);
					}

					.shape-5::after {
						content: '';
						background-image:  url('../../assets/images/ello.webp');
						background-position: 100% 60%;
						background-repeat: no-repeat;
						background-size: cover;
						border-radius: 50%;
						width: 218px;
						height: 218px;
						position: absolute;
						z-index: 1;
						transform: translate(12%,12%);
					}

					.shape-6::after {
						content: '';
						background-image:  url('../../assets/images/ecc-performing-art.webp');
						background-position: 54% 46%;
						background-repeat: no-repeat;
						background-size: 150%;
						border-radius: 50%;
						width: 218px;
						height: 218px;
						position: absolute;
						z-index: 1;
						transform: translate(12%,12%);
					}

					.shape-7::after {
						content: '';
						background-image:  url('../../assets/images/nicky.webp');
						background-position: 65% 28%;
						background-repeat: no-repeat;
						background-size: 130%;
						border-radius: 50%;
						width: 218px;
						height: 218px;
						position: absolute;
						z-index: 1;
						transform: translate(12%,12%);
					}

					.shape-8::after {
						content: '';
						background-image:  url('../../assets/images/nicky.webp');
						background-position: 65% 28%;
						background-repeat: no-repeat;
						background-size: 130%;
						border-radius: 50%;
						width: 218px;
						height: 218px;
						position: absolute;
						z-index: 1;
						transform: translate(12%,12%);
					}

					.text-container {
						text-align: center;
						margin-top: 1rem;
						width: 100%;
						p {
							font-family: "FuturaPT";
							font-size: 1.875rem;
							line-height: 0.87em;
							letter-spacing: 0.083em;
							margin: 0;
							text-shadow: 0.08838835em 0.08838835em 0em rgba(0, 0, 0, 0.570000);
							text-transform: uppercase;
						}

						.text-custom {
							font-size: 1.75rem;
						}
					}
				}
			}
		}

		@media screen and (max-width: 1400px) {
			.line-up {
				padding: 2rem 0;
				grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
				grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));

				.speaker {
					width: 280px;
					height: 330px;

					.speaker-img {

						.text-container {
							p {
								font-size: 28px;
							}
						}
					}
				}
			}
		}

		@media screen and (max-width: 768px) {
			.section-text {
				font-size: 3rem;
				margin-top: 3rem;
				margin-bottom: 2rem;
			}

			.line-up {
				.speaker {
					width: 100%;
				}
			}
		}
	}

	.section-3 {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: auto;
		padding: 2rem 0;
		background-image: url('../../assets/images/section-3.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: rgb(198, 226, 219, .8);
		background-blend-mode: lighten;

		.undergo-about-container {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			padding: 2rem 0;

			.about-container {
				background-color: rgb(0, 0, 0);
				background-blend-mode: lighten;
				width: 67%;
				height: 491px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 20px;
				border: 6px solid #fdc830;
				overflow: hidden;

				#background-video {
					width: 100%;
					object-fit: cover;
					position: relative;
					z-index: 1;
					opacity: .44;
					border-radius: 13px;
				}

				.text-container {
					width: 64%;
					height: 491px;
					padding: 1rem;
					text-align: center;
					position: absolute;
					z-index: 10;
					h3 {
						font-family: 'FuturaPT';
						font-weight: 800;
						font-size: 3.2rem;
						line-height: 0.84em;
						text-align: center;
						text-transform: uppercase;
						letter-spacing: 0.083em;
						text-shadow: 0.08838835em 0.08838835em 0em rgba(0, 0, 0, 0.570000);
						margin-bottom: 6rem;
					}

					p {
						font-family: 'FuturaPT';
						font-size: 1.45rem;
						text-transform: uppercase;
						line-height: 1.119em;
						letter-spacing: 0.083em;
					}

					.button-container {
						display: flex;
						position: relative;
						margin-top: 1rem;
						justify-content: center;
						align-items: center;
						.btn {
							width: 100%;
							max-width: 417px;
							height: 89px;
							background-color: #fdc830;
							border-radius: 44.5px;
							background-size: cover;
							display: flex;
							align-items: center;
							justify-content: space-around;
							text-decoration: none;
							position: relative;
							padding: 0 .5rem;

							.circle-arrow {
								background-image: url('../../assets/circle-arrow.svg');
								background-size: cover;
								position: relative;
								width: 100%;
								height: 100%;
								max-width: 72px;
								max-height: 72px;
							}
						 }

						.btn-primary p {
							font-size: 1.75rem;
							color: #000;
							text-transform: uppercase;
							text-align: center;
							font-family: 'Gliker Expanded';
						}
					}
				}
			}
		}

		@media screen and (max-width: 1400px) {
			.undergo-about-container {
				.about-container{
					width: 90%;
					height: 450px;

					.text-container {
						width: 90%;

						h3 {
							font-size: 40px;
						}

						p {
							font-size: 18px;
						}
					}
				}
			}

		}

		@media screen and (max-width: 768px) {
			.undergo-about-container {
				.about-container {
					width: 95%;
					display: flex;
					flex-direction: column;
					height: auto;

					#background-video {
						height: 245.5px;
						opacity: .66;
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
					}

					.text-container {
						width: 100%;
						height: 100%;
						position: relative;

						h3 {
							width: 100%;
							font-size: 25px;
							margin-bottom: 1rem;
						}

						p {
							width: 100%;
							font-size: 12pt;
						}
					}
				}
			}
		}

		@media screen and (max-width: 420px) {
			.undergo-about-container {
				.about-container {
					.text-container {
						height: 100%;
						h3 {
							margin-bottom: 1rem;
						}
						.button-container {
							.btn-primary p {
								font-size: calc(1.75rem * .75);
							}
						}
					}
				}
			}
		}
	}
}
