<ion-header [translucent]="true">
 <app-navbar></app-navbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="undergo-container">
	<div class="section-1">
		<span class="image-bg">
			<span class="img background"></span>
			<span class="img effect"></span>
			<span class="img gif-animation"></span>
		</span>
		<p class="date-text">
			<span class="text">october 19-20,</span><br/>
			<span class="text">2024</span>
		</p>
		<p class="place-text">
			<span class="text-p">Wisma Els 59, Lembang</span><br/>
			<span class="text-p">Bandung</span>
		</p>
		<span class="button-container">
			<a class="btn btn-primary" href="https://form.jotform.com/242601300177444" target="_blank">
				<p>Register</p> <span class="circle"><i class="arrow"></i></span>
			</a>
		</span>
	</div>
	<div class="section-2">
		<span class="section-text">Line Up</span>
		<div class="line-up">
			<div class="speaker">
				<span class="speaker-img">
					<span class="shape-1">
					</span>
					<span class="text-container">
						<p>Ps. Jefri <br/>Theresna</p>
					</span>
				</span>
			</div>
			<div class="speaker">
				<span class="speaker-img">
					<span class="shape-2">
					</span>
					<span class="text-container">
						<p>Ps. Winston <br/>Yehezkiel</p>
					</span>
				</span>
			</div>
			<div class="speaker">
				<span class="speaker-img">
					<span class="shape-3">
					</span>
					<span class="text-container">
						<p>Ps. Jansen <br/>Silaban</p>
					</span>
				</span>
			</div>
			<div class="speaker">
				<span class="speaker-img">
					<span class="shape-4">
					</span>
					<span class="text-container">
						<p>The (Youth) <br/>Pastor</p>
					</span>
				</span>
			</div>
		</div>
		<div class="line-up">
			<div class="speaker">
				<span class="speaker-img">
					<span class="shape-5">
					</span>
					<span class="text-container">
						<p>marcello<br>nanlohi</p>
					</span>
				</span>
			</div>
			<div class="speaker">
				<span class="speaker-img">
					<span class="shape-6">
					</span>
					<span class="text-container">
						<p>raissa<br>anggiani</p>
					</span>
				</span>
			</div>
			<div class="speaker">
				<span class="speaker-img">
					<span class="shape-7">
					</span>
					<span class="text-container">
						<p>Nickthalia</p>
					</span>
				</span>
			</div>
			<div class="speaker">
				<span class="speaker-img">
					<span class="shape-8">
					</span>
					<span class="text-container">
						<p>Nickthalia</p>
					</span>
				</span>
			</div>
		</div>
	</div>
	<div class="section-3">
		<div class="undergo-about-container">
			<div class="about-container">
				<span class="text-container">
					<h3>About Undergo</h3>
					<p>Undergo merupakan sebuah youth ​camp yang dirancang untuk ​memberikan persiapan terbaik ​untuk masa depan dan menjadi ​ruang berekspresi anak muda ​secara penuh.</p>
					<span class="button-container">
						<a class="btn btn-primary">
							<p>Lebih Lanjut</p> <span class="circle"><i class="arrow"></i></span>
						</a>
					</span>
				</span>
			</div>
		</div>
	</div>
  </div>
</ion-content>
