/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@font-face {
    font-family: 'Arimo';
    src: url('assets/fonts/Arimo-Italic.eot');
    src: local('Arimo Italic'), local('Arimo-Italic'),
        url('assets/fonts/Arimo-Italic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Arimo-Italic.woff2') format('woff2'),
        url('assets/fonts/Arimo-Italic.woff') format('woff'),
        url('assets/fonts/Arimo-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arimo';
    src: url('assets/fonts/Arimo-Bold.eot');
    src: local('Arimo Bold'), local('Arimo-Bold'),
        url('assets/fonts/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Arimo-Bold.woff2') format('woff2'),
        url('assets/fonts/Arimo-Bold.woff') format('woff'),
        url('assets/fonts/Arimo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('assets/fonts/Arimo-Regular.eot');
    src: local('Arimo Regular'), local('Arimo-Regular'),
        url('assets/fonts/Arimo-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Arimo-Regular.woff2') format('woff2'),
        url('assets/fonts/Arimo-Regular.woff') format('woff'),
        url('assets/fonts/Arimo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gliker Expanded';
    src: url('assets/fonts/Gliker-BlackExpanded.eot');
    src: local('Gliker Black Expanded'), local('Gliker-BlackExpanded'),
        url('assets/fonts/Gliker-BlackExpanded.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Gliker-BlackExpanded.woff2') format('woff2'),
        url('assets/fonts/Gliker-BlackExpanded.woff') format('woff'),
        url('assets/fonts/Gliker-BlackExpanded.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gliker Expanded';
    src: url('assets/fonts/Gliker-BoldExpanded.eot');
    src: local('Gliker Bold Expanded'), local('Gliker-BoldExpanded'),
        url('assets/fonts/Gliker-BoldExpanded.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Gliker-BoldExpanded.woff2') format('woff2'),
        url('assets/fonts/Gliker-BoldExpanded.woff') format('woff'),
        url('assets/fonts/Gliker-BoldExpanded.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gliker Expanded';
    src: url('assets/fonts/Gliker-SemiBoldExpanded.eot');
    src: local('Gliker SemiBold Expanded'), local('Gliker-SemiBoldExpanded'),
        url('assets/fonts/Gliker-SemiBoldExpanded.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Gliker-SemiBoldExpanded.woff2') format('woff2'),
        url('assets/fonts/Gliker-SemiBoldExpanded.woff') format('woff'),
        url('assets/fonts/Gliker-SemiBoldExpanded.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gliker Expanded';
    src: url('assets/fonts/Gliker-RegularExpanded.eot');
    src: local('Gliker Regular Expanded'), local('Gliker-RegularExpanded'),
        url('assets/fonts/Gliker-RegularExpanded.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Gliker-RegularExpanded.woff2') format('woff2'),
        url('assets/fonts/Gliker-RegularExpanded.woff') format('woff'),
        url('assets/fonts/Gliker-RegularExpanded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: "Retropix";
	src: url("assets/fonts/retropix.otf") format("opentype");
}

body {
	--ion-background-color: rgb(198, 226, 219);
}
