/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

@font-face {
	font-family: "Futura";
	src: url("assets/fonts/Futura/FuturaPTExtraBold.otf") format("opentype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Futura";
	src: url("assets/fonts/Futura/Futura\ Bold\ font.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Futura";
	src: url("assets/fonts/Futura/Futura\ Extra\ Black\ font.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "FuturaPT";
	src: url("assets/fonts/FuturaPT/FuturaPTExtraBold.otf") format("opentype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "FuturaPT";
	src: url("assets/fonts/FuturaPT/FuturaPTBold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}

@each $filename, $style, $weight in ("Thin", normal, 100), ("ThinItalic", italic, 100), ("ExtraLight", normal, 200),
	("ExtraLightItalic", italic, 200), ("Light", normal, 300), ("LightItalic", italic, 300), ("Regular", normal, 400),
	("Italic", italic, 400), ("Medium", normal, 500), ("MediumItalic", italic, 500), ("SemiBold", normal, 600),
	("SemiBoldItalic", italic, 600), ("Bold", normal, 700), ("BoldItalic", italic, 700), ("ExtraBold", normal, 800),
	("ExtraBoldItalic", italic, 800), ("Black", normal, 900), ("BlackItalic", italic, 900)
{
	@font-face {
		font-family: "Poppins";
		src: url("./assets/fonts/Poppins/Poppins-#{$filename}.ttf") format("truetype");
		font-style: $style;
		font-weight: $weight;
	}
}

@each $filename, $style, $weight in ("Regular", normal, 400), ("Medium", normal, 500), ("Bold", normal, 600)
{
	@font-face {
		font-family: "Din Next LT Pro";
		src: url("./assets/fonts/din-next-lt-pro/DINNextLTPro-#{$filename}.ttf") format("truetype");
		font-style: $style;
		font-weight: $weight;
	}
}

@font-face {
	font-family: "Futura LT Pro";
	src: url("assets/fonts/FuturaLTProBook/FuturaLTProBookRegular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Futura LT Pro";
	src: url("assets/fonts/FuturaLTProBook/FuturaLTProBookMedium.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Futura LT Pro";
	src: url("assets/fonts/FuturaLTProBook/FuturaLTProBold.otf") format("opentype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Futura";
	src: url("assets/fonts/Futura/FuturaPTExtraBold.otf") format("opentype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Futura";
	src: url("assets/fonts/Futura/FuturaPTExtraBold.otf") format("opentype");
	font-weight: 800;
	font-style: normal;
}



ion-header {
	background-image: linear-gradient(90deg, #ffa9f9, #fff7ad);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

ion-content::part(background) {
	background: transparent center center no-repeat scroll url('assets/images/background-02.webp');
	background-size: cover;
}

:root {
	--ion-text-color: #000000;
    --ion-text-color-rgb: 0, 0, 0;

	--ion-text-color-white: #FFFFFF;
	--ion-text-color-white-rgb: 255, 255, 255;
	// --ion-background-color: transparent;
}

.ion-accordion-toggle-icon {
	font-size: 2rem;
	color: white;
}
